[user]
	signingkey = 44240957A9B01A730B273007F71DA10F3A0DEEB2
  # ~/.gitconfig_local
[include]
  path = ~/.dotfiles/.gitconfig_local
[httpAuth]
  empty = true
[http]
  emptyAuth = true
[push]
  default = simple
	autoSetupRemote = true
[pull]
  rebase = true
[pretty]
  onelinedetail = %C(bold red)%h %Creset%s %C(bold green)%aN %C(bold blue)(%ar)%Creset%C(yellow)%d%Creset
[alias]
  st = ! git files && echo \"\" && git last && echo \"\" && git wt && git todo
  last = ! git log -1 HEAD | cat
  co = checkout
  files = ! git show --pretty= --name-only | cat
  gone = ! git fetch --prune && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D
  br = ! git branch | cat
  wt = status
  todo = ! git diff | grep -v -i todouble | grep -i todo
[commit]
	gpgSign = true
[gpg]
	program = gpg
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore_global
